.header {
  padding: 20px 40px;
  border-bottom: 1px solid #979797;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.header img {
  height: 50px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right a {
}

.right button {
  margin-left: 20px;
  padding: 0 15px;
  height: 40px;
  background: rgba(102,62,83, 1);
  border: 1px solid #20506E;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
}
